:root {

  --font-family: "Graphik LCG", sans-serif;
  --content-width: 1200px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // --accent-color: #56906C;
  --accent: 262 80% 50%;

  // --dark-color: #2d2f34;
  --dark-color: #1f2023;
  --dark-gray: #383b40;
  --light-gray: #d2d2d2;
  --grey-color: #c7c7c7;
  --light-color: #fff;
  --error-color: #b64949;
  --bc: 220 13% 69%;
  --b1: 212 18% 14%;
  --p: 262 80% 50%;
}

